html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.contactform{
  width: 80%;
  margin: auto;
  /* background-color: blueviolet; */
 display: flex;
 justify-content: center;
 align-items: center;
}
.contactform input{
  display: block;
  width: 100%;
  padding: 5px;
  margin-top: 5px;
}
.formcenter{
/* background-color: brown; */
width: 50%;
 
}

.nextformbtn{
   border: none;
   outline: none;
   padding: 7px 25px;
   background-color: cornflowerblue;
   margin-top: 5px;
}